/* Example styles */
#root {
  white-space: pre-line;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.about-us {
  padding: 40px 20px;
  background-color: #f4f4f4;
}

.games-showcase {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}


.partners {
  padding: 40px 20px;
  text-align: center;
}

.footer {
  background-color: #1a1a1a;
  color: white;
  padding: 20px;
  text-align: center;
}
